[Unit]
Description=News Aggregator
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=neclor
WorkingDirectory=/home/neclor/servers/news-aggregator
ExecStart=docker-compose up -d --build
ExecStop=docker-compose down

[Install]
WantedBy=multi-user.target
